#set($title = 'logconfig查询')
#set($title_sub = '查询')
#set($title_href = 'log/logconfig')
<div class="container" style=" overflow-x: auto;">
    <form id="salesForm" class="form-horizontal required-validate" role="form" method="post"
          action="/log/config/query">
        <div class="form-group">
            <label class="col-sm-1 control-label">业务id</label>
            <div class="col-sm-2">
                #set($test1 = $request.getParameter('agentId'))
                <input class="form-control" name="agentId" type="text" placeholder="业务id" value="$test1"
                       id="agentId"/>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="tooltip-query btn btn-primary">查询</button>
                <a href="/log/config/addConfig?agentId=$test1" class="tooltip-query btn btn-warning" id="addBtn">添加</a>
            </div>
        </div>
    </form>
    #parse("/control/tipMsg.vm")
    #if($!ssdList)
        <table class="table table-bordered table-striped" style=" overflow-x: auto;width:100%">
            <caption>游戏列表，总记录数【$!ssdList.size()】</caption>
            <thead>
            <tr class="danger">

                <th>ID</th>
                <th>AgentId</th>
                <th>日志路径</th>
                <th>日志后缀(如yyyyMMHH)</th>
                <th>脚本路径</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #foreach($ssd in $ssdList)
                <tr>
                    <td>$ssd.id</td>
                    <td>$ssd.agentId</td>
                    <td>$!{ssd.inputPath}</td>
                    <td>$!{ssd.pattern}</td>
                    <td>$!{ssd.scriptPath}</td>
                    <td>$!{ssd.gmtCreate}</td>
                    <td>$!{ssd.gmtModified}</td>
                    <td>
                        <a href="/log/path/query?agentId=$ssd.id"
                           class="tooltip-query btn btn-success">日志路径配置</a>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    #end
</div>

