#macro(pagination $page )
    #if($!page)
    <div class="pager-header" style="float: right;">
        <ul class="pagination">
            <input type="hidden" name="currentPage" id="currentPage" value="$!{page.currentPage}">
            <input type="hidden" name="totalPage" id="totalPage" value="$!{page.totalPage}">
        #*      <input type="hidden" name="totalItem" id="totalItem" value="$!{page.totalItem}">*#
            <li class="disabled"><a>总条数: ${page.totalItem}</a></li>
            <li class="disabled"><a>总页数: ${page.totalPage}</a></li>
            #if( $page.firstPage )
                <li class='disabled'>
                    <a href="javascript:gotoPages(1);">首页</a>
                </li>
                <li class='disabled'>
                    <a href="javascript:gotoPages(1);">上一页</a>
                </li>
            #else
                <li>
                    <a href="javascript:gotoPages(1);">首页</a>
                </li>
                <li>
                    <a href="javascript:gotoPages($page.previousPage);">上一页</a>
                </li>
            #end

            #foreach ($p in $page.slider)
                #if ($p == '...')
                    <li><a>...</a></li>
                #elseif ($p == "$page.currentPage")
                    <li class="currentPage">
                        <a>$p</a>
                    </li>
                #else
                    <li>
                        <a href="javascript:gotoPages($p);">$p</a>
                    </li>
                #end
            #end
            #if( $page.lastPage )
                <li class='disabled'>
                    <a href="javascript:gotoPages(1);">下一页</a>
                </li>
                <li class='disabled'>
                    <a href="javascript:gotoPages(${page.totalPage});">尾页</a>
                </li>
            #else
                <li>
                    <a href="javascript:gotoPages($page.nextPage);">下一页</a>
                </li>
                <li>
                    <a href="javascript:gotoPages(${page.totalPage});">尾页</a>
                </li>
            #end

            <input id="goPage" name="goPage" size="3" value="" maxlength="9"
                   onpaste="return false;" style="height: 34px;width:45px;">
            <input type="BUTTON" value="确认" class="btn btn-default" onclick="javascript:goPages()"
                   style="height:34">
        </ul>
    </div>
    #end
#end

#macro(pageNoData $list )
    #if(!$list)
    <tr>
        <td colspan="100">无数据</td>
    </tr>
    #end
#end